# Verklegt Námskeið 1 - Hópur 28
# Requirements
bcrypt
colorama
py-getch
cursor

---------------------------------------------------------------------
|                     NaN AIR Management system                     |
---------------------------------------------------------------------
|            ______                                                 |
|            _\ _~-\___                                             |
|    =  = ==(_NaN AIR__D                                            |
|                \_____\___________________,-~~~~~~~`-.._           |
|                /     o O o o o o O O o o o o o o O o  |\_         |
|                `~-.__        ___..----..                  )       |
|                      `---~~\___________/------------`````         |
|                      =  ===(_________D                            |
|                                                                   |
-----------------------------  NaN Air  -----------------------------
|                                                                   |
|                       [L]og in  -  [Q]uit                         |
|                                                                   |
---------------------------------------------------------------------